[init]
	defaultBranch = master

[user]
	name = dattha
	email = dattha@tutamail.com
	signingkey = dattha@tutamail.com

[commit]
	gpgsign = true
	
[tag]
	gpgSign = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
